.container-fluid#login-first-block
  .row
    .col-3
    .col-6.border.border-1.p-3#login-second-block{style:"margin-top:13rem"}
      %h1.m-4{style:"text-align:center"} Login
      %hr
      %p#notice= notice
      = simple_form_for(@user, as: :user, method: :post,url:"login") do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
        .form-inputs
          = f.input :username
          = f.input :password

        .form-actions
          = f.button :submit, 'login', {class:'btn btn-warning mt-3'}
          %a{class:"btn btn-info mt-3" ,style:"margin-left:4px;color:white", href:"/users/new" }Register
    .col-3
