-# frozen_string_literal: true
= simple_form_for(@store) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :store_name
    = f.input :phone
    = f.input :address_store
    = f.association :user ,selected:session[:user_id] , input_html:{hidden:true},label_html:{hidden:true}

  .form-actions
    = f.button :submit ,'Register' ,{class:"btn mt-2",id:"btnSubmitRegister"}
