.container
  = simple_form_for(@user) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs#formEdit

      = f.input :name , label: 'Full Name', placeholder: 'Enter your name'
      = f.input :username , label: 'Username', placeholder: 'Enter your username'
      = f.input :email , label: 'Email', placeholder: 'Enter your email'
      = f.input :phone , label: 'Phone Number', placeholder: 'Enter your number'
      = f.input :birthdate
      = f.input :password , label: 'Password' , placeholder: 'Enter your password'
      = f.input :password_confirmation , label: 'Comfirm Password' , placeholder: 'Confirm your password'
      = f.input :address , label: 'Address', placeholder: 'Enter your address'
      %label{for:"formFileSm",class:"mt-2"}Your profile
      = f.file_field :avatar ,class:"form-control",label: 'your profile',id:"formFileSm"
      = f.input :gender, as: :radio_buttons, collection: ['male','female']

    .form-actions
      = f.button :submit ,'Register' ,{class:"btn mt-2",id:"btnSubmitRegister"}
      -# %a{class:"btn btn-outline-secondary mt-2",value:"users_path" ,:href => users_path}Back to Login
