.container-fluid#container-fluid-cart
  .row
    .col-1

    .col-10.ms-2.mt-4{style:"background-color:white !important;"}
      %h2.mt-4.mb-4.ms-3
        My Cart
        %hr

        -if(@getProductFromCart.count != 0)
          %table.table.table-hover
            %thead
              %tr
                %th.fs-6.text-center.pb-3{:scope => "col"} #
                %th.fs-6.text-center.pb-3{:scope => "col"} Picture products
                %th.fs-6.text-center.pb-3{:scope => "col"} Product name
                %th.fs-6.text-center.pb-3{:scope => "col"} Product description
                %th.fs-6.text-center.pb-3{:scope => "col"}
                %th.fs-6.text-center.pb-3{:scope => "col"} Quantity
                %th.fs-6.text-center.pb-3{:scope => "col"} Price (Baht)


                %th.fs-6.text-center.pb-3.pe-5{:scope => "col"} Actions
            %tbody
              - c = 1
              -@getProductFromCart.each do |p|
                -puts "----------------------------------------#{p}-----------------------------------------------------------------------------------------"
                %tr
                  %th.fs-6.text-center.align-middle.p-4{:scope => "row",style:"align-self:center"}
                    = c
                  %td.fs-6.text-center.align-middle.p-4
                    -Product.find(p.id).img_products.all.each do |img|

                      =image_tag img , style:"width:7rem;height:7rem;"
                  %td.fs-6.text-center.align-middle.p-4
                    =p.name
                  %td.fs-6.text-center.align-middle.p-4{:colspan => "2"}
                    =p.description
                  %td.fs-6.text-center.align-middle.p-4
                    =p.quantity_product_cart
                  %td.fs-6.text-center.align-middle.p-4
                    =Product.find(p.id).price * p.quantity_product_cart

                  %td.fs-6.text-center.align-middle.p-4.pe-5
                    %i.bi.bi-three-dots.menu-threedots.fs-6{"data-bs-toggle":"dropdown" }
                    .dropdown-menu

                      %a.btn-show-product-from-cart.fs-6.dropdown-item{href:"/product/#{p[0]}"}
                        %span.mb-0.fs-6 show product
                        %span.bi.fs-6.bi-box-arrow-in-up-right.ms-2
                      =button_to "/delFormCart" ,method: :post , class:"dropdown-item delFromCart" , params:{id:p[5]} do
                        %p.p-0.m-0.fs-6
                          delete product
                          %i.bi.bi-trash.ms-2


                  -c = c + 1
          .row
            .col-7
            .col-3
              %h3#total-cart.text-end.pt-2
                Total :
                = @sum
                ="Baht"
            .col-2
              = button_to "check out", checkout_url, method: :post ,class:"btn ",id:"btn-yes-checkout" ,params: { checkout:@checkout },hidden:true
              .btn.btn-check-out{"data-bs-toggle":"modal" ,"data-bs-target":"#modal-check-out"} check out

              %div.modal.fade{id:"modal-check-out"}
                %div.modal-dialog
                  %div.modal-content
                    %div.modal-header
                      %h5.modal-title Check out confirmation
                      %btn.btn-close.fs-6{"data-bs-dismiss":"modal"}
                    %div.modal-body
                      %h6 Are you sure to buy these ?
                    %div.modal-footer
                      .btn.btn-check-out#btn-confirmation-checkout Yes







        -else
          %h3.text-center.mt-5.mb-5 Empty Cart


    .col-1

:javascript
  $(document).ready(function(){
    $("#btn-confirmation-checkout").click(function(){
      $("#btn-yes-checkout").focus().click();
    })
  })
