.container-fluid.p-5
  %h1 Listing users

  %table.table.table-striped
    %thead
      %tr
        %th Username
        %th Email
        %th Name
        %th Address
        %th Phone
        %th Gender
        %th Birthdate
        %th
        %th
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.username
          %td= user.email
          %td= user.name
          %td= user.address
          %td= user.phone
          %td= user.gender
          %td= user.birthdate
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New User', new_user_path , class:"btn btn-primary text-white"
