.container.mt-3{style:"width:60rem"}
  %div{style:"text-align:center"}
    = image_tag @user.avatar, disabled:true ,class:"rounded-circle", style:"width:6rem;height:6rem;"

  = simple_form_for(@user) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs#formEdit

      = f.input :name , label: 'Full Name', placeholder: 'Enter your name', disabled:true
      = f.input :username , label: 'Username', placeholder: 'Enter your username', disabled:true
      = f.input :email , label: 'Email', placeholder: 'Enter your email', disabled:true
      = f.input :phone , label: 'Phone Number', placeholder: 'Enter your number', disabled:true
      = f.input :birthdate, disabled:true
      = f.input :password , label: 'Password' , placeholder: 'Enter your password', disabled:true
      = f.input :password_confirmation , label: 'Comfirm Password' , placeholder: 'Confirm your password', disabled:true
      = f.input :address , label: 'Address', placeholder: 'Enter your address', disabled:true
      = f.input :gender, as: :radio_buttons, collection: ['male','female'], disabled:true

  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', users_path
